*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  /* version 1 */
  /*
  background-color: #ff0000;
  display: block;
  height: 200px;
  */

  background-color: #ff0000;
  display: flex;
  height: 200px;
  align-items: center;
}

header div#logo{
  position: relative;
  display: block;
  background-color: #ffffff;
  height: 160px;
  width: 160px;

  /* version 1 */
  /*margin-top: 20px;*/

  margin-left: 20px;
}

header div#logo img{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  left: 50%;
  margin-right: -50%;
}

header nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

header nav ul li a{
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  font-size: 1.5rem;
}

header nav ul li a:hover{
  text-decoration: underline;
}

main{  
  display: flex;
  min-height: 70vh;
}

main section{  
  flex: 70%;
}

main aside{
  flex: 30%;
  background-color: yellow;
}

main aside, main section{
  padding: 10px;
}

h1{
  font-size: 40px;
}

h2, h3{
  font-size: 25px;
}

h1, h2, p{
  margin-top: 15px;
  margin-bottom: 10px;
}

.imagen-izquierda{
  float: left;
  width: 400px;
  margin: 0 10px 10px 0;
}

aside nav{
  margin-top: 15px;
}

aside nav ul{
  margin-top: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

aside nav ul li{
  margin: 5px 0;
}

aside nav ul li::before{
  content: "- ";
}

aside nav ul li a, aside nav ul li a:visited{
  color: #000000;
  text-decoration: none;
}

footer{  
  width: 100%;
  background-color: #0000ff;
  color: #ffffff;
  height: 100px;
  text-align: center;
  /*position: absolute;*/
  bottom: 0;
}

footer p{
  line-height: 100px;
  margin: 0;
}

.resaltado{
  background-color: yellow;
}