.form-container{
  display: block;
  padding: 10px;
  border: 1px solid #333333;
  background-color: #dbdbdb;
}

table{
  width: 100%;
}

table tr td{
  width: 50%;
  padding: 10px;
}

label{
  font-size: 24px;
  font-weight: bold;
  color: #4d4d4d;
  display: block;
  margin-bottom: 5px;
}

.options{
  height: 50px;
  display: flex;
  align-items: center
}

.options small{
  margin: 0 10px;
}

input, select, textarea{
  width: 100%;
  height: 40px;
}

textarea{
  height: 200px;
}

input[type="checkbox"], input[type="radio"]{
  width: initial;
  display: inline-block;
}

#btn_enviar{
  background-color: #ff0000;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
}

.error{
  border: 1px solid red;
}